*{
	font-family:Verdana;
}
*:focus{
	outline:none;
}
table, td{
	border-collapse:collapse;
}
td, th{
	border:1px solid #ccc;
}
td{
	padding:0;
}
th{
	padding:5px 10px;
}
td > input{
	border:0;
	width:100px;
	padding:5px 10px;
}
