* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
}
*:focus{
	outline:none;
}
html{
	font-size:14px;
	line-height:20px;
	font-family:Verdana;
}
html, body{
	position:relative;
}
body{
	padding:10px;
}
.table{
	display:table;
	border-collapse:collapse;
}
.row{
	display:table-row;
}
.cell{
	display:table-cell;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
}
.cell > input,
.cell.head{
	padding:3px 5px;
}
.cell.head{
	background-color:#eee;
}
.cell.head a{
	display:block;
	color:#aaf;
	text-decoration:underline;
}
.cell.head a:focus,
.cell.head a:active{
	color:#00f;
}
.cell > input{
	width:100px;
}
.cell > input:focus{
	background-color:#ffb;
}
